# Ignore virtual environment
venv/
ENV/
.env

# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore Jupyter and Streamlit stuff
.ipynb_checkpoints/
.streamlit/

# Ignore system files
.DS_Store
Thumbs.db
